ul{
  list-style: none;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: white;
  transition: .5s linear;
}
nav{
  display: block;
  width: 100%;
  margin: 0 auto 50px;
}

.main_1 ul{
  padding: 1em 0;
  background: #000000;
}
.main_1 a {
  padding: 1em;
}

a:hover{
  color: red;
}
.main_1 li{
  display: inline-block;
  text-align: right;
}
.main{
  background-image: url("img/main_photo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
